body{
    position: relative;
    background-image: url(./img/UhW1ek.jpg);
    background-repeat: no-repeat;
    background-size: 100%;         
}
body:hover {
    background-image: url(./img/mapcam_firstlight_color-1024x576.png);
    transition: 1s;
}
.div1 p{
    text-align: left;
}
.div1 p a{
    text-decoration: none;
    border-radius: 10px;
    padding: 20px 10px;
    position: absolute;
    top: 15px;
    left: 10px;
    color: darkslategray;
    font-size: 25px; 
    font-family: Georgia;
    font-weight: 700; 
}
.div1 p:hover a{
    background-color: rgb(66, 42, 42);
    transition: 1s;
    color: steelblue;
    font-family: Georgia;
    font-weight: 700;
}
